In [76]:
import pandas as pd
import mysql.connector

In [77]:

conn=mysql.connector.connect(host='localhost', user='root', password='Adeboyelaw')

In [78]:
mycursor=conn.cursor()

In [ ]:
#creating our database
mycursor.execute('drop database if exists python_mysql')

In [ ]:
mycursor.execute("create database if not exists python_mysql")

In [24]:
mycursor.execute('use python_mysql')

In [25]:
mycursor.execute('DROP TABLE IF EXISTS authors')

In [26]:
mycursor.execute('show tables')
for x in mycursor:
    print(x)

In [27]:
mycursor.execute("create table authors(id int(11) NOT NULL AUTO_INCREMENT, first_name VARCHAR(40) NOT NULL, last_name VARCHAR(40) NOT NULL,photo blob(100),PRIMARY KEY (id));")

In [28]:
mycursor.execute('show tables')
for x in mycursor:
    print(x)

('authors',)

In [29]:
mycursor.execute("CREATE TABLE books(id int(11) NOT NULL AUTO_INCREMENT, title varchar(255) NOT NULL,isbn varchar(13) NOT NULL,PRIMARY KEY (id),UNIQUE KEY isbn (isbn));")

In [30]:
mycursor.execute("create table book_author(book_id int(11) NOT NULL,author_id int(11) NOT NULL,KEY book_id (book_id),KEY author_id (author_id),CONSTRAINT ba_fk1 FOREIGN KEY (book_id) REFERENCES books (id) ON DELETE CASCADE,CONSTRAINT ba_fk2 FOREIGN KEY (author_id) REFERENCES authors (id) ON DELETE CASCADE)")

In [31]:
mycursor.execute('show tables')
for x in mycursor:
    print(x)

('authors',)
('book_author',)
('books',)

In [36]:
#insert values into the table created
mycursor.execute(insert  into authors(id,first_name,last_name,photo) values (1,'Herbert','Methley ',NULL),(2,'Olive','Wellwood ',NULL),(3,'Francis','Tugwell ',NULL),(4,'Randolph','Henry Ash',NULL),(5,'Christabel','LaMotte ',NULL),(7,'Robert','Dale Owen',NULL),(12,'Leonora','Stern ',NULL),(14,'Mrs.','Lees ',NULL),(19,'Josephine','M. Bettany',NULL),(20,'Kester','Bellever ',NULL),(22,'Sylvia','Leigh ',NULL),(24,'Elizabeth','Temple ',NULL),(25,'Marsha','Patterson ',NULL),(26,'Samuel','Humber ',NULL),(27,'James','Fallon ',NULL),(28,'Beatrice','Quinn ',NULL),(29,'Susan','Magar ',NULL),(30,'Clinton','York ',NULL),(31,'Canton','Lee ',NULL),(32,'Rod','Keen ',NULL),(33,'Hilda','Simpson ',NULL),(34,'S.','M. Justice',NULL),(35,'Charles','Green ',NULL),(36,'Richard','Brautigan ',NULL),(37,'Bill','Lewis ',NULL),(38,'Chuck',' ',NULL),(39,'Doctor','O. ',NULL),(40,'Harlow','Blade ',NULL),(41,'Barbara','Jones ',NULL),(42,'Fred','Sinkus ',NULL),(43,'Thomas','Funnel ',NULL),(44,'Patricia','Evens Summers',NULL),(45,'Reverend','Lincoln Lincoln',NULL),(47,'Edward','Fox ',NULL);)

In [40]:
mycursor.execute("UPDATE books set title='Gone With the Wind' where id=2")
conn.commit()

In [63]:
print(mycursor.rowcount, "record(s) affected")

2 record(s) affected

In [64]:
print(mycursor.rowcount, "record(s) affected")

2 record(s) affected

In [42]:
mycursor.execute("UPDATE books set title='The Devil Wears Prada' where id=3")
conn.commit()

In [65]:
print(mycursor.rowcount, "record(s) affected")

2 record(s) affected

In [44]:
mycursor.execute("UPDATE books set title='To Kill a Mockingbird' where id=4")
conn.commit()

In [66]:
print(mycursor.rowcount, "record(s) affected")

2 record(s) affected

In [45]:
mycursor.execute("UPDATE books set title='Who Moved My Cheese' where id=5")
conn.commit()

In [67]:
print(mycursor.rowcount, "record(s) affected")

2 record(s) affected

In [68]:
mycursor.execute("select id, title from books")

InternalError: Unread result found

In [69]:
myresult = mycursor.fetchone()
for i in myresult:
    print(i)

2
Gone With the Wind

In [70]:
myresult2 = mycursor.fetchmany()
for k in myresult:
    print(k)

2
Gone With the Wind

In [71]:
mycursor.execute("select au.id,au.first_name,au.last_name from authors as au inner join ba.book_id from book_author as ba where au.id=ba.book_id")

InternalError: Unread result found

In [75]:
mycursor.execute("insert into books(id, title,isbn) values(84,'How to Sell to Nigerians','12347780495001'),(85,'A History of Knowledge','12360894331'),(86,'The Fault in Our Stars','12381675217'),(87,'A Brief History of Yam','12341962778'),(88,'Talo the Fighter','1233369260356')")
conn.commit()

InternalError: Unread result found

In [ ]:
mycursor.execute("Alter table books alter column title varchar(300)")

In [ ]:
mycursor.execute("insert into authors(id,first_name,last_name) values(48,'Akin','Alabi'),(49,'Van','Doren'),(50,'Steph','Walkings')")
conn.commit()

In [ ]:
mycursor.execute("Alter table authors drop column photo")

In [ ]:
mycursor.execute("select * from authors left join books on authors.id=books.book_id left join book_author on authors.id=book_author.author_id")